apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "leo-core.fullname" . }}
  labels:
    {{- include "leo-core.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "leo-core.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "leo-core.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8000
              name: http
          env:
            - name: OPENAI_API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "leo-core.fullname" . }}-secrets
                  key: OPENAI_API_KEY
          readinessProbe:
            httpGet:
              path: /health
              port: http
          livenessProbe:
            httpGet:
              path: /health
              port: http
      volumes: []
